IO_LOC "IN_A" 3;
IO_PORT "IN_A" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "IN_B" 4;
IO_PORT "IN_B" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "OUT_A" 15;
IO_PORT "OUT_A" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "OUT_B" 16;
IO_PORT "OUT_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;